
<!-- {% block title %}Sign Up{% endblock %} -->

{% block content %}
    <h2>Sign up</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Sign up</button>
        <!-- <input type="submit" onclick="index()" value="Sign up"> -->
  </form>
  If you already have an account <a href="/blog/login" ><strong>login</strong></a> instead.
{% endblock %}